body {
	background-color:#333333;
	background-image: url("Bur906.jpg");
	background-attachment: scroll;
	margin: 10px;
	padding: 15px;
}

h1,h2,h3,p,span,ul,li {
	color:#bbbbbb;
}
footer {
	text-align:center;
	content: center;
}

.headingcent {
	text-align:center;
	color:#f8514b;
}

.center {
	text-align:center;
}

#darktext {
	color: #555555
}


.weights {
	background-image: url("invert883.png");
	background-attachment: fixed;
}

a {
	color: #bbbbbb;
}

a:hover {
	color: #f8514b;
	
}

em {
	color:#f8514b;
}

#mediabox {
	position: fixed;
	right: 0;
	top: 0;
	color: #bbbbbb;
}