body {
	background-color:#333333;
	background-image: url("../media/bur906.jpg");
	background-attachment: scroll;
	margin: 10px;
	padding: 15px;
}

h1,h2,h3,p,span,ul,li {
	color:#bbbbbb;
}
footer {
	text-align:center;
	content: center;
}

.headingcent {
	text-align:center;
	color:#f8514b;
}

.center {
	text-align:center;
}

#darktext {
	color: #555555
}


.weights {
	background-image: url("../media/invert883.png");
	background-attachment: fixed;
}

a {
	color: #bbbbbb;
}

a:hover {
	color: #f8514b;
	
}

em {
	color:#f8514b;
}

#mediabox {
	height: 5%;
	width: auto;
	background-color: #333333;
	text-align: center;
	letter-spacing: 3px;
	font-size: 120%;
	position: fixed;
	margin: auto;
	right: 0;
	top: 0;
	color: #f8514b;
}

#mediabox li {
	display: inline;
	
	
}